*{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-weight: 600;
}

.contenedor-semana {
    display: flex;
    justify-content: center;
    padding: 25px;
    padding-top: 0px;
    border-radius: 15px;
    height: 100%;
  }
  .contenedor-semana .dia-semana {
    background-color: #fafafa;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    width: 14%;
   /*  height: 80%; */
    /* box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2); */
  }
  .contenedor-semana .dia-semana h2 {
    text-align: center;
  }
  
  body {
    height: 85vh;
  } 
  
  h1 {
    text-align: center;
  }

  .agregar-tarea{
    font-size: 20px;
    text-align: center;
    color: blue;
    font-weight: 800;
    margin: 0px;
    border-radius: 40%;
    border-width: 0px;
    padding: 5px 10px;
  }

  .agregar-tarea:hover{
    color: black;
    font-size: 23px;
  }

  .agregar-contenedor{
    display: flex;
    justify-content: center;
  }